<div class="row justify-content-center mt-5 mb-5">
  <div class="col-md-3">
<h1>New Questionnaire</h1>

<%= render 'form', questionnaire: @questionnaire %>

<%= link_to 'Back', questionnaires_path %>
</div>
</div>
